parameters:
    config:
        dataDir: %appDir%/../data
        pageDir: %appDir%/../data/pages
        userDir: %appDir%/../data/users
        defaultPage: Wiki

application:
    errorPresenter: Error
    mapping:
        *: [App, Modules\*, Presenters\*Presenter]

di:
    export:
        parameters: no
        tags: no
        types: no

latte:
    macros:
        - Nextras\FormsRendering\LatteMacros\Bs3InputMacros::install

session:
    expiration: 14 days

services:
    router: App\Router\RouterFactory::createRouter

    commonMark.coreExtension: League\CommonMark\Extension\CommonMark\CommonMarkCoreExtension
    commonMark.tableExtension: App\Libs\CommonMark\Table\TableExtension
    commonMark.environment:
        factory: League\CommonMark\Environment\Environment()
        setup:
            - addExtension(@commonMark.coreExtension)
            - addExtension(@commonMark.tableExtension)
    - League\CommonMark\MarkdownConverter(@commonMark.environment)

    - App\Libs\Config(%config%)
    - App\Libs\Security\Authenticator
    - App\Libs\Security\UserManager
    - App\Forms\SignInFormFactory
    - App\Forms\UserCreateFormFactory
    - App\Forms\WikiEditFormFactory

extensions:
    menu: Contributte\MenuControl\DI\MenuExtension

includes:
    - menu.neon
