parameters:

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

autoRegister:
    dirs: [
    ]

session:
    expiration: 14 days

services:
    router: App\RouterFactory::createRouter

    commonMarkTableExtension: Webuni\CommonMark\TableExtension\TableExtension
    commonMarkTableDocumentProcessor: App\Libs\CommonMark\TableDocumentProcessor
    commonMarkEnvironment:
        class: League\CommonMark\Environment::createCommonMarkEnvironment()
        setup:
            - addExtension( @commonMarkTableExtension )
            - addDocumentProcessor( @commonMarkTableDocumentProcessor )
    - League\CommonMark\DocParser
    - League\CommonMark\HtmlRenderer

    - App\Libs\Security\Authenticator
    - App\Forms\SignInFormFactory

extensions:
    autoRegister: Ublaboo\DirectoryRegister\DI\AutoRegisterExtension
    nextras.form: Nextras\Forms\Bridges\NetteDI\FormsExtension
    menu: DK\Menu\DI\Extension

includes:
    - menu.neon
