parameters:
    config:
        dataDir: %appDir%/../data
        pageDir: %appDir%/../data/pages
        userDir: %appDir%/../data/users
        defaultPage: Wiki

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days

services:
    router: App\RouterFactory::createRouter

    commonMarkTableExtension: Webuni\CommonMark\TableExtension\TableExtension
    commonMarkTableDocumentProcessor: App\Libs\CommonMark\TableDocumentProcessor
    commonMarkEnvironment:
        class: League\CommonMark\Environment::createCommonMarkEnvironment()
        setup:
            - addExtension( @commonMarkTableExtension )
            - addDocumentProcessor( @commonMarkTableDocumentProcessor )
    - League\CommonMark\DocParser
    - League\CommonMark\HtmlRenderer

    - App\Libs\Config( %config% )
    - App\Libs\Security\Authenticator
    - App\Libs\Security\UserManager
    - App\Forms\SignInFormFactory
    - App\Forms\UserCreateFormFactory
    - App\Forms\WikiEditFormFactory

extensions:
    nextras.form: Nextras\Forms\Bridges\NetteDI\FormsExtension
    menu: Contributte\MenuControl\DI\MenuExtension

includes:
    - menu.neon
