menu:
    default:
        template:
            menu: %appDir%/Components/Menu/menu.latte
            breadcrumb: %appDir%/Components/Menu/breadcrumb.latte
        items:
            wiki:
                title: Wiki
                target: Wiki:default
                visual: FALSE
            wikiEdit:
                title: Wiki
                target: WikiEdit:default
                visual: FALSE
