menu:
    default:
        templates:
            menu: %appDir%/Components/Menu/menu.latte
            breadcrumbs: %appDir%/Components/Menu/breadcrumbs.latte
        items:
            wiki:
                title: Wiki
                action: Wiki:default
                visibility:
                    menu: FALSE
            userCreate:
                title: Create user
                action: UserCreate:default
                visibility:
                    menu: FALSE
