{block content}
    <div class="row" style="padding-top:120px">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign In</h3>
                </div>
                <div class="panel-body">
                    {control signInForm}
                </div>
            </div>
        </div>
    </div>
{/block}
